.DS_Store
*.code-workspace
/01-Campaigns/Test *
/00-INBOX
/00-INBOX
/99-SCRATCH-FLDR
/99-Archives
99-Templates/Handlebars-JSON/Braia Full 2025-08-24-12-20-MODDED.json
99-Templates/Handlebars-JSON/Ladonia Full 2024-03-31-10-23-MODDED.json
.obsidian/workspace.json
90-Tools & Helpers/gitkeep.bat
90-Tools & Helpers/rem_gitkeep.bat
