.DS_Store
*.code-workspace
/01-Campaigns/Braia
/01-Campaigns/Test Campaign Cheia
/01-Campaigns/Test Campaign 100
/01-Campaigns/Test Campaign 99
/01-Campaigns/Test Campaign Ladonia
/01-Campaigns/Test 96
/00-INBOX
/01-Campaigns/Test Campaign Ladonia
/00-INBOX
