/* Optional Full-Width Notes */ 
.CodeMirror-lines, .CodeMirror-selected,  .markdown-preview-section {
  max-width: 700px;
  margin: auto;
}

.full-width .markdown-preview-section {
	max-width: 100% !important;
}

.ninety-pct-width .markdown-preview-section {
	max-width: 90% !important;
}

.eighty-pct-width .markdown-preview-section {
	max-width: 80% !important;
}

.seventy-pct-width .markdown-preview-section {
	max-width: 70% !important;
}

.sixty-pct-width .markdown-preview-section {
	max-width: 60% !important;
}